body {
    padding-left: 40px;
    padding-top:20px;
    font-size: 16px;

    background-color: #ececec;
}

#guppy1 {
    width: 800px;
    border: 2px solid black;
    height: 100px;
    padding: 10px;
}

#result {
    width: 800px;
    border: 1px solid black;
    padding: 10px;
}

#help_card {
    width: 800px;
    float: left;
    border: 1px solid black;
    padding: 10px;
}

#stuff {
    padding-top:10px;
}
