body {
    padding-left: 40px;
    padding-top:20px;
    font-size: 16px;

    background-color: #ececec;
}

#guppy1 {
    width: 80%;
    border: 2px solid black;
    height: 150px;
    padding: 10px;
}

#stuff {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
}
