.guppy_active {
    border: 2px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    cursor: text;
    background-color: #ffffff;
    color:#000;
    position:relative;
}

.guppy_inactive {
    border: 2px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    cursor: text;
    background-color: #fafafa;
    color:#000;
    position:relative;
}

.guppy_text_current {
    border: 1px solid #ccc;
}

.guppy_active .main_cursor {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

.guppy_active .guppy_buttons {
    display: block;
}

.guppy_inactive .guppy_buttons {
    display: none;
}


.guppy_buttons {
    position:absolute;
    bottom:0;
    right:0;
    padding:0 3px 3px 0;
}

.guppy_buttons img{
    cursor:pointer;
    height:20px;
    width:20px;
    padding:3px;
}

.guppy_buttons img:hover{
    opacity: 1;
}



@keyframes blink-animation {
  to { visibility: hidden; }
}

@-webkit-keyframes blink-animation {
  to { visibility: hidden; }
}

