body {
    font-size: 16px;
}

.navbar {
    margin-top: 10px;
}

.navbar-brand, .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    font-size: 36px;
}

.navbar-nav li a {
    font-size: 16pt;
}
    
.navbar-brand {
    padding-left: 0;
}

a.output-select {
    padding: 5px;
}

a.output-selected {
    color: #d0d;
}

#guppy1 {
    width: 400px;
    border: 1px solid black;
    /* height: 60px; */
    padding: 10px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    cursor: text;
    position:relative;
}

#result {
    width: 800px;
    border: 1px solid black;
    padding: 10px;
}

#help_card {
    width: 800px;
    float: left;
    border: 1px solid black;
    padding: 10px;
}

#stuff {
    padding-top:10px;
}
